@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@font-face {font-family: 'BrandonGrotesqueWeb-BoldItalic';
  src: url('/webfonts/315ECD_0_0.eot');
  src: url('/webfonts/315ECD_0_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_0_0.woff2') format('woff2'),url('/webfonts/315ECD_0_0.woff') format('woff'),url('/webfonts/315ECD_0_0.ttf') format('truetype');
}
@font-face {font-family: 'BrandonGrotesqueWeb-Bold';
  src: url('/webfonts/315ECD_3_0.eot');
  src: url('/webfonts/315ECD_3_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_3_0.woff2') format('woff2'),url('/webfonts/315ECD_3_0.woff') format('woff'),url('/webfonts/315ECD_3_0.ttf') format('truetype');
}

@font-face {font-family: 'BrandonGrotesqueWeb-Regular';
  src: url('/webfonts/315ECD_7_0.eot');
  src: url('/webfonts/315ECD_7_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_7_0.woff2') format('woff2'),url('/webfonts/315ECD_7_0.woff') format('woff'),url('/webfonts/315ECD_7_0.ttf') format('truetype');
}


/*
@font-face {font-family: 'BrandonGrotesqueWeb-Light';
  src: url('/webfonts/315ECD_1_0.eot');
  src: url('/webfonts/315ECD_1_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_1_0.woff2') format('woff2'),url('/webfonts/315ECD_1_0.woff') format('woff'),url('/webfonts/315ECD_1_0.ttf') format('truetype');
}*/

/*
@font-face {font-family: 'BrandonGrotesqueWeb-LightItalic';
  src: url('/webfonts/315ECD_2_0.eot');
  src: url('/webfonts/315ECD_2_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_2_0.woff2') format('woff2'),url('/webfonts/315ECD_2_0.woff') format('woff'),url('/webfonts/315ECD_2_0.ttf') format('truetype');
}*/



/*
@font-face {font-family: 'BrandonGrotesqueWeb-Black';
  src: url('/webfonts/315ECD_4_0.eot');
  src: url('/webfonts/315ECD_4_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_4_0.woff2') format('woff2'),url('/webfonts/315ECD_4_0.woff') format('woff'),url('/webfonts/315ECD_4_0.ttf') format('truetype');
}
*/

/*
@font-face {font-family: 'BrandonGrotesqueWeb-BlackItalic';
  src: url('/webfonts/315ECD_5_0.eot');
  src: url('/webfonts/315ECD_5_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_5_0.woff2') format('woff2'),url('/webfonts/315ECD_5_0.woff') format('woff'),url('/webfonts/315ECD_5_0.ttf') format('truetype');
}
*/
/*
@font-face {font-family: 'BrandonGrotesqueWeb-MediumItalic';
  src: url('/webfonts/315ECD_6_0.eot');
  src: url('/webfonts/315ECD_6_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_6_0.woff2') format('woff2'),url('/webfonts/315ECD_6_0.woff') format('woff'),url('/webfonts/315ECD_6_0.ttf') format('truetype');
}
*/


/*
@font-face {font-family: 'BrandonGrotesqueWeb-Italic';
  src: url('/webfonts/315ECD_8_0.eot');
  src: url('/webfonts/315ECD_8_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_8_0.woff2') format('woff2'),url('/webfonts/315ECD_8_0.woff') format('woff'),url('/webfonts/315ECD_8_0.ttf') format('truetype');
}
*/
/*
@font-face {font-family: 'BrandonGrotesqueWeb-Medium';
  src: url('/webfonts/315ECD_9_0.eot');
  src: url('/webfonts/315ECD_9_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_9_0.woff2') format('woff2'),url('/webfonts/315ECD_9_0.woff') format('woff'),url('/webfonts/315ECD_9_0.ttf') format('truetype');
}
*/

/*
@font-face {font-family: 'BrandonGrotesqueWeb-ThinItalic';
  src: url('/webfonts/315ECD_A_0.eot');
  src: url('/webfonts/315ECD_A_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_A_0.woff2') format('woff2'),url('/webfonts/315ECD_A_0.woff') format('woff'),url('/webfonts/315ECD_A_0.ttf') format('truetype');
}
*/
/*
@font-face {font-family: 'BrandonGrotesqueWeb-Thin';
  src: url('/webfonts/315ECD_B_0.eot');
  src: url('/webfonts/315ECD_B_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/315ECD_B_0.woff2') format('woff2'),url('/webfonts/315ECD_B_0.woff') format('woff'),url('/webfonts/315ECD_B_0.ttf') format('truetype');
}
*/
